:root {
  --ifm-color-primary: #7648a3;
  --ifm-color-primary-dark: #693f92;
  --ifm-color-primary-darker: #5b3680;
  --ifm-color-primary-darkest: #4c2d6e;
  --ifm-color-primary-light: #8a63b1;
  --ifm-color-primary-lighter: #9c7fc0;
  --ifm-color-primary-lightest: #b399d0;

  --ifm-font-size-base: 16px;
  --ifm-font-family-base: 'Noto Sans KR', sans-serif;
  --ifm-heading-font-family: 'Noto Sans KR', sans-serif;
}

[data-theme='dark'] {
  --ifm-color-primary: #7648a3;
  --ifm-color-primary-dark: #693f92;
  --ifm-color-primary-darker: #5b3680;
  --ifm-color-primary-darkest: #4c2d6e;
  --ifm-color-primary-light: #8a63b1;
  --ifm-color-primary-lighter: #9c7fc0;
  --ifm-color-primary-lightest: #b399d0;
}